body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.top-left {
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    font-family: "algerian";
}

.top-left h1 {
    font-size: 38px;
    color: rgb(238, 237, 243);
    padding-right: 20px;
}

.top-img {
    border-radius: 70%;
}

.menu li a {
    color: rgb(10, 2, 82);
    font-size: 18px;
    margin-top: 14px;
}

.bg {
    background: url("../college.jpg");
    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .85;
    height: 100vh;
}

.form {
    position: absolute;
    top: 50%;
    left: 45%;
}

.bg-color {
    margin-top: 12px;
    background: #000c;
    color: #fff;
    padding: 10px 14px;
}

.a {
    color: green;
}

details {
    color: whitesmoke;
}

.about {
    color: rgb(238, 237, 243);
}